/* Index */

.still-background {
	width: 100%;
	height: 1000px;
	background: url('/stills_folder/kidney_stopwatch.jpg');
	color: white;
}

.title-box {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 70%;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

#title-box-name {
	font-size: 4em;
}

#title-box-tagline {
	font-size: 2.0em;
}

#featured-stills-section {
	height: 1200px;
	position: relative;
}

#featured-stills-headline {
	font-size: 3.0em;
	padding-top: 30px;
}

.featured-square-row1 {
	height: 40%;
	width: 70%;
	padding-top: 20px;
}

.featured-square-row2 {
	height: 100%;
	width: 100%;
	padding-top: 50px;
}

.button-row {
	padding-top: 40px;
	height: 100px;
	width: 100%;
	text-align: center;
}

.boxed-button p {
	margin: 0 auto;
	height: 40px;
	padding-top: 40px;
	font-size: 2em;
}

.boxed-button a {
	padding: 10px;
	border: 3px solid #000;
	color: #000;
	background-color: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.boxed-button a:hover {
	border: 3px solid white;
	color: black;
	background-color: red;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

/* ------ */

/* Stills Page */

#slide-container {
	height: 50%;
	width: 70%;
}

.slide-image {
	height: 100%;
	width: 100%;
}

.slide-thumbnail {
	height: 150px;
	width: 150px;
	padding: 10px 10px 10px 10px;
}

/* Navbar */

@media (min-width: 768px) {
	.navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar .navbar-nav a {
    	font-size: 1.5em;
    }

}

